name: Python CI
on:
  push:
    tags:
      - v*
  pull_request:
    branches:
      - main
      - dev
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Lint
        run: ruff check --output-format=github src
      - name: Format
        run: ruff format --check src
      - name: Unit-testing
        run: |
          pytest --cov=src
      - name: Build binary wheel and source tarball
        run: uv build
      - name: Publish distribution to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: {{ "${{" }} secrets.PYPI_API_TOKEN {{ "}}" }} 
      - name: Merge source branch into main
        env:
          GITHUB_TOKEN: {{ "${{" }} secrets.GITHUB_TOKEN {{ "}}" }}
        run: |
            git config user.name "{{cookiecutter.author_name}}"
            git config user.email "{{cookiecutter.author_email}}"
            git fetch origin
            git checkout main
            git merge dev
            git push origin main
